.ranking-board-wrapper{
  padding: 30px;
}

.ranking-my-zone-loader{
  padding: 25px;
}

.ranking-my-zone-loader div{
  margin: 0 auto;
}

.ranking-my-zone-loader p{
  margin-top: 20px;
  text-align: center;
  color: #00B0FF;
  font-weight: 600;
}

.ranking-top-menu{
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.ranking-top-text{
  margin: 0;
  font-weight: normal;
  font-family: 'Ubuntu', 'Noto sans KR', sans-serif;
  color: #666666;  
}

.ranking-top-item-wrapper{
  position: absolute;
  top: 10px;
  right: 0;
}

.ranking-top-item{
  display: inline-block;
  font-family: 'Ubuntu', 'Noto sans KR', sans-serif;  
  font-weight: normal;
  width: 120px;
  height: 40px;
  box-shadow: none !important;
  font-size: 18px;
  background-color: white;
  color: #1A1A1A;
  padding: 10px 30px;
  margin: 0;
}

.ranking-top-item.active{
  background-color: #D1D1D1;
}

.ranking-top-item:first-child{
  border-radius: 10px 0 0 10px;
  border: 1px solid #D1D1D1;
}

.ranking-top-item:last-child{
  border-radius: 0 10px 10px 0;
  border: 1px solid #D1D1D1;
  border-left: none;
}

.ranking-top-item:hover{
  background-color: #00B0FF;
  color: white;
  box-shadow: none;
}

.ranking-top-item:focus{
  outline: none;
}

.ranking-middle-text{
  text-align: left;
  background: none;
  border: none;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #4A4A4A;  
}

.ranking-my-zone-wrapper{
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #DEE2E6;
  box-shadow: 0px 3px 3px 3px #F1F1F1;
}

.ranking-my-zone-user-avatar-wrapper{
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin-left: 35px;
  margin-top: 25px;
  border-radius: 50%;
}

.ranking-my-zone-user-info{
  position: absolute;
  top: 35px;
  left: 170px;
}

.ranking-my-zone-user-info h4{
  color: #4A4A4A !important;
}

.ranking-my-zone-user-info h6{
  margin-top: 15px;
  color: #666666 !important;
}

.ranking-my-zone-rank-wrapper{
  position: absolute;
  top: 0;
  left: 400px;
  width: 60%;
}

.ranking-my-zone-rank-item{
  height: 74px;
  width: 95%;
}

.ranking-my-zone-left{
  display: inline-block;
  width: 10%;
  height: 100%;
}

.ranking-my-zone-right{
  position: relative;
  display: inline-block;
  width: 90%;
  height: 100%;
}

.ranking-my-zone-progress-bar-wrapper {
  display: inline-block;
  position: relative;
  width: 80% !important;
}

.ranking-my-zone-rank-value{
  position: absolute;
  top: -5px;
  right: 30px;
  text-align: right !important;
  width: 79px !important;
  width: auto;
  font-size: 18px !important;
  color: #4A4A4A !important;
}

.ranking-my-zone-point-value{
  position: absolute;
  top: 20px;
  right: 30px;
  text-align: right !important;
  width: 79px !important;
  font-size: 18px !important;
  color: #4A4A4A !important;
}

.ranking-my-zone-rank-text{  
  position: absolute;
  top: -3px;
  right: 5px;
  text-align: left !important;
  width: 20px !important;
  width: auto;
  font-size: 16px !important;
  color: #666666 !important;
  font-weight: normal !important;
}

.ranking-my-zone-point-text{  
  position: absolute;
  top: 22px;
  right: 5px;
  text-align: left !important;
  width: 20px !important;
  width: auto;
  font-size: 16px !important;
  color: #666666 !important;  
  font-weight: normal !important;
}

.ranking-my-zone-left-value{
  width: 100% !important;
  height: 40px !important;
  padding-right: 69px;
}

.ranking-my-zone-left-value span{
  width: auto !important;
  color: #666666 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.ranking-my-zone-left-value strong{
  margin: 0 5px;
  color: #1EBFA3;;
}

.ranking-my-zone-rank-item span{
  display: inline-block;
  font-size: 30px;
  width: 50px;
  height: 40px;
  text-align: center;
  color: #4A4A4A;
}

.ranking-my-zone-rank-item p{
  width: 50px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #444444;
  margin: 0 !important;
}

.ranking-table-wrapper {
  position: relative;
  display: inline-block;
  width: 49%;
}

.ranking-table-wrapper:last-of-type{
  margin-left: 2% !important;
}

.ranking-table-wrapper hr{
  width: 100%;
  position: absolute;
  top: 5px;
  right: 0;
  background-color:#DEE2E6;
  box-shadow: 1px 1px 1px 1px #F1F1F1;
  z-index: 1;
}

.ranking-table-title{
  position: relative;
  text-align: center; 
  color: #4A4A4A; 
  text-shadow: -1px 0 #F9F9F9, 0 1px #F9F9F9, 1px 0 #F9F9F9, 0 -1px #F9F9F9;
	-moz-text-shadow: -1px 0 #F9F9F9, 0 1px #F9F9F9, 1px 0 #F9F9F9, 0 -1px #F9F9F9;
	-webkit-text-shadow: -1px 0 #F9F9F9, 0 1px #F9F9F9, 1px 0 #F9F9F9, 0 -1px #F9F9F9;
  z-index: 2;
}

.ranking-title-wrapper span{
  display: inline-block;
  font-size: 30px;
  padding-top: -15px;
  color: #4A4A4A !important;
}

.ranking-table{
  margin-top: 20px;
}

.ranking-table td{
  padding: 0;
}

.ranking-table-thead{
  background-color: #DEE2E6;
  color: #4A4A4A; 
  font-size: 15px; 
  text-align: center;
}

.ranking-item-wrapper:nth-of-type(2n-1){
  background-color: white !important;
}

.ranking-item{
  position: relative;
}

.ranking-rank-wrapper{
  position: relative;
  padding-bottom: 10px !important;
  padding: 10px !important;
}

.ranking-rank-wrapper p{
  padding-top: 15px;
}

.ranking-rank-img{
  position: absolute;
  top: 0;
  right: 10px;
  width: 35px;
}

.ranking-user-avatar-wrapper{
  display: inline-block;
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 50%;
}

.ranking-game-image-wrapper{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 60px;
  margin-top: 7px;
  overflow: hidden;
}

.avatar-image{
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;

  display: inline;
  margin: auto;
  height: 100%;
  width: auto;
}

.ranking-user-info{
  position: absolute;
  top: 10px;
  left: 100px;
}

.ranking-user-info p{
  margin: 0px;
}

.ranking-user-info p:first-of-type{
  font-size: 18px;
  color: #3494E1;
  font-weight: 600;
}

.ranking-user-info p:last-of-type{
  font-size: 15px;
  color: #5A5A5A;
}

.ranking-score{
  text-align: center;
  font-weight: 600;
  color: #1EBFA3;
}