input[type="text"], input[type="password"]{
  margin: 10px 0px;
  height: 60px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  color: #1e1e1e;
  font: 400 1rem "proxima-nova", sans-serif;
  width: 80%;
  border: 1px solid #dee0e0;
  padding: 0 20px;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}


input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid #AF9570;
  outline: none !important;
}

input[type="submit"], button  {
  background-color: #323232;
  color: white;
  font: 700 1rem "proxima-nova",sans-serif;
  border: none;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  padding: 20px 80px;
  text-align: center;
  cursor: pointer;
  /* -webkit-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  box-shadow: -7px 7px 0px rgba(50,50,50,0.15); */
  margin-top: 20px;
}

input[type="submit"]:hover, button:hover {
  -webkit-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  background-color: #1e1e1e;
}

.username-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 20%;
    text-align: center;
  }
  
  h1 {
    display: block;
  }
  