/*
 * 대시보드 : 틀 잡기
 */

.dashboard-left-navigation{
  width: 200px;
  min-height: 500px;
  height: 100%;
  background-color: #F1F1F1;
  position: fixed;
  padding-top: 30px;
  z-index: 1;
}

.dashboard-avatar-wrapper{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.avatar-image{
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;

  display: inline;
  margin: auto;
  height: 100%;
  width: auto;
}

.dashboard-left-navigation-wrapper{
  margin-top: 25px;
}

.dashboard-left-navigation-item{
  display: block;
  height: 50px;  
  padding-left: 20px;
  position: relative;
}

.dashboard-left-navigation-item:hover{
  background-color: #F9F9F9;
}

.dashboard-left-navigation-item:nth-of-type(2n):hover p:first-of-type{
  transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
}

.dashboard-left-navigation-item:nth-of-type(2n-1):hover p:first-of-type{
  transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -webkit-transform:rotate(10deg);
  -o-transform:rotate(10deg);
}

.dashboard-nav-active {
  background-color: #F9F9F9;
  color: #00B0FF !important;
}
.dashboard-nav-active p{  
  color: #00B0FF !important;
}

.dashboard-left-navigation-item p:first-of-type{
  display: inline-block;
  font-size: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #666666;
  line-height: 45px;
}

.dashboard-left-navigation-item p:last-of-type{
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  height: 50px;
  color: #333333;
  position: absolute;
  top: 0;
  line-height: 50px;
}

#dashboard-right-wrapper{
  position: relative;
  display: block;
  max-width: 940px;
  margin-left: 200px;
  min-height: 100% !important;
  height: 100%;
}

.dashboard-right-contents{
  width: 100%;
  padding: 30px;
}

.dashboard-loader{
  margin-top: 15%;
}

.dashboard-loader div{
  margin: 0 auto;
}

.dashboard-loader img{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 150px;
}

.dashboard-loader p{
  margin-top: 15px;
  text-align: center;
  color: #00B0FF;
  font-weight: 600;
}

/* 
 * 대시보드 : 프로필
 */

.profile-avatar-wrapper{
  min-width: 200px;
  min-height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.profile-avatar-image{
  border-radius: 10px;
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;

  display: inline;
  margin: auto;
  height: 100%;
  width: auto;
}

.profile-text{
  text-align: center;
  margin: 15px 0;
}

.profile-update-button{
  display: block;
  font-weight: bold;
  padding: 20px 25px;
  margin: 0 auto;
  margin-top: 20px;
}

.profile-update-button a{
  color: white;
}

.dashboard-game-wrapper{
  display: inline-block;
  width: 49%;
  margin-bottom: 2%;
  min-height: 300px;
}

.dashboard-game-wrapper:nth-of-type(2n-1){
  margin-right: 2%;
}

.dashboard-game-image-wrapper{
  background-color: #F9F9F9;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.dashboard-game-info-wrapper{
  padding: 15px;
  min-height: 100px;
}

.dashboard-game-info-wrapper button{
  margin-top: 0px !important;
  width: 100%;
  border: 1px solid #00B0FF;
  color: #00B0FF;
}

.dashboard-game-info-wrapper button:hover{
  background-color: #00B0FF;  
  border: 1px solid #00B0FF;
}

.dashboard-game-wrapper img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: auto;
}

/*
 * 대시보드 : 친구
 */

.friend-card-wrapper{
  display: inline-block;
  width: 47.4%;
  padding: 20px;
  margin-bottom: 3%;
  position: relative;
  transition: background-color 0.3s linear;
}

.friend-card-wrapper:hover{
  background-color: #F9F9F9;
  transition: background-color 0.3s linear;
}

.friend-card-wrapper:nth-of-type(2n){
  margin-left: 3%;
}

.friend-left-wrapper{
  display: inline-block;
  width: 50%;
}

.friend-right-wrapper{
  display: inline-block;
  height: auto;
  width: 49.9%;
  position: absolute;
  right: 0;
}

.friend-avatar-wrapper{
  width: 120px;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.friend-request-card-wrapper{
  position: relative;
  width: 100% !important;
  border-radius: 5px;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: background-color 0.3s linear;
}

.friend-request-card-wrapper:hover{
  background-color: #F9F9F9;
  transition: background-color 0.3s linear;
}

.friend-request-card-avatar-wrapper{
  width: 20%;
  height: 60px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

.friend-request-card-id{
  display: inline-block;
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  width: 20%;
  position: absolute;
  top: 25px;
  left: 20%;
}

.friend-request-card-date{
  display: inline-block;
  font-size: 16px;
  color: #333333;  
  width: 35%;
  height: 60px;
  position: absolute;
  top: 25px;
  left: 40%;  
}

.friend-request-button, .friend-request-button-wrapper{
  display: inline-block !important;
  width: 20% !important;
  position: absolute;
  top: 18px;
  margin: 0 !important;
  left: 74%;  
}

.friend-request-button-wrapper button{
  width: 45% !important;
}

.friend-request-button.accept{  
  left: 0 !important;
  top: 0 !important;
  background-color: #00B0FF !important;
  border: 1px solid #00B0FF !important;
  color: white;
}

.friend-request-button.accept:hover{
  background-color: rgb(9, 150, 245) !important;
  color: white;
}

.friend-request-button.reject{
  top: 0 !important;
  left: 55% !important;
  background-color: #DB3545 !important;
  border: 1px solid #DB3545 !important;
}

.friend-request-button.reject:hover{
  background-color: rgb(189, 29, 45) !important;  
}

.friend-find-info{
  margin-top: 15px;
  text-align: center;
  color: #333333;
  font-weight: 600;
}

.friend-find-list-wrapper{
  margin-top: 30px;
}

/*
 * 대시보드 : 알림
 */

.tab-slider-nav{
  display: block;
  position: relative;
  height: 70px;
}

.tab-slider-tabs{
  display: inline-block;
  position: relative;
  width: auto;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 50px;
}

.tab-slider-item{
  position: relative;
  width: 150px;
  display: inline-block !important;
  line-height: 1;
  text-align: center;
  padding: 11px;
  z-index: 2;
  cursor: pointer;
  transition: border 250ms ease-in-out;
  user-select: none; 
  font-weight: bold;
  color: #777777;
}

.tab-slider-item.tab-active{
  border-bottom: 4px solid #00B0FF;
  color: #00B0FF;
}

.tab-slider-item:hover{
  color: black;
}

.noti-wrapper{
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  border-top: 1px solid #D1D1D1;
  padding: 7px 15px;
  cursor: pointer;
}

.noti-wrapper:last-of-type{
  border-top: 1px solid #D1D1D1;
}

.noti-more-button{
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.noti-wrapper:hover{
  background-color: #F9F9F9
}

.noti-checked{
  background-color: #e8eef4;
}

.noti-checked:hover{
  background-color: #dee8f2;
}

.noti-avatar-wrapper{
  display: inline-block;
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.noti-contents{
  display: inline-block;
  min-width: 100%;
  margin-left: 15px;
  margin-bottom: 5px;
  position: absolute;
}

.noti-contents p{
  color: black;
  font-size: 15px;
  margin-bottom: 3px;
  position: relative;
}

.noti-contents p:last-of-type{
  font-size: 13px;
  color: #777777;
}

.noti-list-icon{
  font-size: 20px;
  position: absolute;
  top: -5px;
  color: #556080;
}

.noti-list-date{
  position: absolute;
  top: 0;
  left: 23px;
}

/*
 * 대시보드 : 메시지
 */

.message-left-contents{
  width: 33%;
  border-right: 1px solid #E1E1E1;
  position: relative;
  overflow-y: scroll;
  display: inline-block;
}

.message-right-contents{
  position: absolute;
  top: 30px;
  left: 35%;
  width: 63%;
}

.conversation-list-left{
  width: 50px;
  display: inline-block;
  position: absolute;
}

.conversation-list-right{
  padding-left: 55px;
  position: relative;
}

.conversation-list-item{
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid #D1D1D1;
}

.conversation-list-item.active{
  background-color: #F9F9F9;
}

.conversation-list-item:last-of-type{
  border-bottom: none;
}

.conversation-list-item:hover{
  background-color: #F9F9F9;
}

.conversation-list-nickname{
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 0.9;
}

.conversation-list-icon{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px;
}

.conversation-list-icon span{
  font-size: 30px;
  line-height: 0.5;
  color: #00B0FF;
}

.conversation-list-item.active .conversation-list-icon{
  display: block;
}

.conversation-list-item .conversation-list-icon{
  display: none;
}

.conversation-list-date{
  font-size: 13px;
  color: #666666;
}
.conversation-list-last-message{
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0; 
}

.message-list-right-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.message-list-top{
  width: 100%;
  height: 47px;
  padding: 10px 29px;
  background-color: #ECEFF1;
}

.message-list-top span {
  font-size: 15px;
  color: #999999;
}

.message-list-top span .name {
  color: #1A1A1A;
  padding-left: 7px;
  font-weight: bold;
}

.message-list-chat-wrapper{
  position: relative;
  height: calc(100% - 120px);
  overflow-y: scroll;
  padding: 20px 35px 20px;
  border-color: #E6E6E6;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}

.bubble{
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}

.bubble-triangle{
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  transform: rotate(29deg) skew(-35deg);
}

.bubble-you .bubble-triangle{
  left: -4px;
  background-color: #ECEFF1;
}

.bubble-me .bubble-triangle{
  right: -5px;
  background-color: #00B0FF;
}
.bubble-you{
  float: left;
  color: #1A1A1A;
  background-color: #ECEFF1;
}

.bubble-me{
  float: right;
  color: white;
  background-color: #00B0FF;
}

.message-write{
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: 50px;
  padding-left: 8px;
  background-color: #ECEFF1;
  border-radius: 5px;
}

.message-text{
  position: relative;
  display: block;
  font-size: 14px !important;
  float: left;
  width: 100% !important;
  height: 48px !important;
  padding: 10px 50px 10px 10px!important;
  color: #1A1A1A;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  background-color: #ECEFF1;
}

.message-write button{
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
  right: 0px !important;
  top: 0px !important;
  display: inline-block !important;
  background: none !important;
  width: 50px !important;
  box-shadow: none !important;
  height: 100% !important;
  text-align: center !important;
  cursor: pointer !important;
}

.message-write button span{
  font-size: 35px;
  font-weight: lighter;
  line-height: 1.4;
  color: #777777;
}



/*
 * 헤더
 */

.header-conversation-list-item{
  display: block !important;
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid #D1D1D1;
  color: black;
}

.header-conversation-list-item:hover{
  text-decoration: none;
}

.header-more-button{
  margin-top: 10px !important;
  padding: 0px !important;
  width: 100%;
  height: 27px !important;
  font-size: 13px;
  line-height: 13px !important;
  font-weight: normal !important;
  background-color: #777777;
  box-shadow: none;
  transition: none;
}

.header-more-button:hover{
  background-color: #777777;
  box-shadow: none;
}

.header-noti-list-last-message strong{
  display: inline-block !important;
  height: 20px;
}
.header-noti-list-last-message span:last-of-type{
  display: inline-block;
  font-size: 13px;
  height: 16px;
  width: 110px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}